@model WebAutomovil.Models.Marca

@{
    ViewData["Title"] = "EliminarMarca";
}

<h1>Eliminar</h1>

<h3>Estas Seguro que deseas eliminar esta marca?</h3>
<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-dark"  asp-action="Index">Regresar</a>
    </form>
</div>
