@model WebAutomovil.Models.Marca

@{
    ViewData["Title"] = "DetalleMarcas";
}

<h1>Detalle</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Modificar</a> 
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
