@model WebAutomovil.Models.ClienteCarro

@{
    ViewData["Title"] = "AsignarCarro";
}

<h1>AsignarCarro</h1>

<h4>ClienteCarro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AsignarCarro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <select asp-for="Cliente" class ="form-control" asp-items="ViewBag.Cliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Carro" class="control-label"></label>
                <select asp-for="Carro" class ="form-control" asp-items="ViewBag.Carro"></select>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
